{% extends "base.html" %}
{% load static %}

{% block head_title %}About || {{ block.super }}{% endblock head_title %}


{% block content %}
<link rel="stylesheet" href="{% static '/css/about.css' %}" type="text/css">
<div id="about">

          <h1>About me</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mi purus, dapibus a placerat ut, luctus nec tortor. Pellentesque aliquam quam ut risus laoreet, ac finibus orci rhoncus. Quisque mollis interdum velit, ultrices vulputate odio cursus ac. Praesent suscipit sodales sapien sit amet sodales. Etiam venenatis eget turpis id semper. Cras sed tellus lectus. Nullam a hendrerit magna. Donec mattis, metus sed condimentum commodo, orci lacus iaculis turpis, pharetra malesuada magna erat vitae enim. Ut pulvinar viverra nibh quis pretium.
            Praesent posuere aliquam tempus. Cras a imperdiet velit. Cras pulvinar metus risus, id dictum nibh tempus in. Aliquam ipsum nunc, 
          </p>




<!--
          <h1>About me</h1>
          <p>I’m a <strong>web  user experience designer</strong> living in New York City, where I currently work as <strong>Chief Product Officer</strong> at <a href="http://www.schoology.com" title="Schoology | Learn. Together." target="_blank">Schoology</a> (a company I founded in 2009). I lead product design, corporate identity, and get my hands dirty coding the site’s CSS and front-end pages.</p>
      <p>At the office I’m teamed up with a group of extremely talented people, and together we make big things happen. We’ve been featured in, <a href="http://www.entrepreneur.com/article/217320" title="The Rise of the Digital Classroom" target="_blank">Entrepreneur Magazine</a>, <a href="http://techcrunch.com/2012/04/16/schoology-series-b/" title="1M Users Strong, Schoology Grabs $6M To Take On Blackboard, Moodle" target="_blank">TechCrunch</a>, and <a href="http://magazine.wustl.edu/2011/april/Pages/Schoology.aspx" title="Schoology.com Combines Learning, Social Networking" target="_blank">WashU Magazine</a>.</p>
        </div>
-->


{% endblock  %}