{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>

  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0">
<title>Roy Wetterhahn</title>

{% include 'snippets/css.html' %}
{% block base_head %}{% endblock %}
</head>
<body>
{% include 'snippets/navbar.html' %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class='container'>
{% block content %}{% endblock content %}
</div>


{% include 'snippets/js.html' %}
</body>
</html>